@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{  
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 5px;
  background: rgb(240, 240, 240);
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
html{
  scroll-behavior: smooth;
}
.cart-button {
  display: flex;
  position: relative;
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.cart-button:active {
  transform: scale(0.9);
}

/* Icon Styles */
.cart-button .PiShoppingBagOpenBold {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
}

.cart-button .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Text Styles */
.cart-button span {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.cart-button span.add-to-cart {
  opacity: 1;
}


/* Animation Classes */
.cart-button.clicked .PiShoppingBagOpenBold {
  animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}


/* Keyframes */
@keyframes cart {
  0% {
  left: -50%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 150%;
  }
}

@keyframes box {
  0%,
  40% {
    top: -50%;
  }
  60% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 120%;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
